/* Reset borders */
* {
  padding: 0;
  margin: 0;
}

/* Top black navbar sectino */
.black-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px
}
.black-container-left-items {
  display: flex;
}
.item2, .item3, .item4, .item5, .item6{
  padding-left: 30px;
}
.black-container-right-items {
  display: flex;
  justify-content: space-evenly;
}
.black-container-right-items div {
  padding-right: 10px;
}

/* Main heading section */
.title-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 70px 0;
}
.heading{
    font-size: 1.5rem;
}

/* Main image section */
.image-text-container{
    background: url('./assets/images/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.title-one{
    font-size: 2rem;
}

.title-two {
    font-size: 4rem;
}

.btn {
    background-color: rgb(209, 206, 206);
    padding: 20px;
    border:none;
}
.button, .title-two{
padding-top: 40px;
}

/* Post section */

.post-container {
    display:flex;
    padding-top: 2rem;
    padding: 20px
}
.right-section{
    border: 1px solid red;
    margin-left: 20px;
}

.left-section {
    border: 1px solid blue;
    flex-grow: 1;

}

.left-section .item .post-heading{
    text-align: center;
    padding: 20px;
}

.left-section .item .post-image img{
  width: 100%;
}

